[user]
  name = Daniel Lindsley
  email = daniel@toastdriven.com
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = /Users/daniel/.gitignore
[alias]
  st = status
  co = checkout
  cb = checkout -b
  ct = checkout -t
  po = push origin
  pfo = push -f origin
  pro = pull --rebase origin
  prom = pull --rebase origin main
[push]
  default = simple
  autoSetupRemote = true
[init]
  defaultBranch = main
[rerere]
	enabled = true
[includeIf "gitdir:/Users/daniel/Code/SFU/"]
  path = ~/.gitconfig-sixfeetup

