.DS_Store
.DS_Store?
*.pyc
*.pyo
__pycache__
.ipython
.pip
.mypy_cache
.vscode
*.egg-info
env
env2
env3

*.bak
*.bak.*

zsh-configs/.zcompdump
zsh-configs/.zsh_history

fish-configs/fish_variables

ST4/User/My Twilight.sublime-color-scheme
ST4/User/Sisyphus.sublime-color-scheme

goose/history.txt
goose/chatgpt_codex/tokens.json

zed/conversations/*
zed/prompts/*
