.DS_Store
.DS_Store?
*.pyc
*.pyo
__pycache__
.ipython/db
.ipython/history
.ipython/IPython_crash_report.txt
.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
.ipython/profile_default/history.sqlite
.pip/pip.log
.pip/build
*.egg-info
env
env2
env3
