[user]
	name = Daniel Lindsley
	email = daniel@toastdriven.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /Users/daniellindsley/.gitignore
[alias]
    st = status
    co = checkout
    cb = checkout -b
[push]
	default = simple
